* {
	margin: 0;
	padding: 0;
}

nav {
	background-color: black;
}
a{
	color: white;
	font-family:courier; 
}
button {
display: block;
background-color: black;
width: 100px;
height: 100px;
color: white;
}
